In [30]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from matplotlib.pyplot import style
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [31]:
df=pd.read_csv("car_risk_data.csv")

In [32]:
df

   speed  car_age  experience  Unnamed: 3  risk
0    200       15         5.0         NaN    85
1     90       17        13.0         NaN    20
2    165       12         4.0         NaN    93
3    110       20         NaN         NaN    60
4    140        5         3.0         NaN    82
5    115        2         8.0         NaN    10

In [33]:
df.experience

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

In [42]:
exp=df.experience.mean()

In [43]:
exp

6.6

In [46]:
df.experience=df.experience.fillna(exp)

In [47]:
df

   speed  car_age  experience  Unnamed: 3  risk
0    200       15         5.0         NaN    85
1     90       17        13.0         NaN    20
2    165       12         4.0         NaN    93
3    110       20         6.6         NaN    60
4    140        5         3.0         NaN    82
5    115        2         8.0         NaN    10

In [49]:
reg=LinearRegression()

In [50]:
reg.fit(df[["speed","car_age","experience"]],df.risk)

LinearRegression()

In [52]:
reg.predict([[160,10,5]]) #user input 160,10,5

array([71.57528852])

In [54]:
a=input("speed")
b=input("car_age")
c=input("experience")
d=reg.predict([[a,b,c]])
print("predicted risk",d)

speed160
car_age10
experience5
predicted risk [71.57528852]

g:\Users\com\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  return f(*args, **kwargs)